body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.container {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-section {
    text-align: center;
    flex: 1;
    margin-right: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

textarea#encryptedNote,
textarea#decryptedNote {
    background-color: #f0f0f0;
}

textarea#note {
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    color: transparent;
    text-shadow: 0 0 0 white;
    resize: none;
}

.image-section {
    display: flex;
    align-items: center;
}

.image-section img {
    max-width: 200px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

